<div class="container">
    <div [style.width.px]="width" [style.height.px]="height" [style.top.px]="top" [style.left.px]="left" class="crop"
      (window:mouseup)="setStatus($event, 0)">
      <div (mousedown)="setStatus($event, 1)" class="crop-line crop-top-line"></div>
      <div (mousedown)="setStatus($event, 2)" class="crop-line crop-right-line"></div>
      <div (mousedown)="setStatus($event, 3)" class="crop-line crop-bottom-line"></div>
      <div (mousedown)="setStatus($event, 4)" class="crop-line crop-left-line"></div>
  
      <div (mousedown)="setStatus($event, 5)" class="crop-corner crop-top-left-corner"></div>
      <div (mousedown)="setStatus($event, 6)" class="crop-corner crop-top-right-corner"></div>
      <div (mousedown)="setStatus($event, 7)" class="crop-corner crop-bottom-right-corner"></div>
      <div (mousedown)="setStatus($event, 8)" class="crop-corner crop-bottom-left-corner"></div>

      <span class="noselect">Perimeter : ({{2*(width+height)}})</span>
      
    </div>
  </div>
